/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --title-color: #212121;
  --text-color: #757575;
  --sec-text-color: #ffffff;
  --active-hover-focus-current: #2196f3;
  --main-logo: #2196f3;
  --hover-btn: #188ce8;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --background-footer-hero: #2f303a;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list-item {
  list-style: none;
}

body {
  color: var(--text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1170px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.no-scroll {
  overflow: hidden;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-logo);
}
.logo--black {
  color: var(--logo-header);
}
.logo--white {
  color: var(--logo-footer);
}

.logo-head {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .logo-head {
    margin-right: 93px;
  }
}

.logo-foot {
  margin-left: 0;
  margin-right: 0;
}

.menu-open {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  display: block;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250 ms;
          transition-duration: 250 ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover .menu-close__icon, .menu-close:focus .menu-close__icon {
  fill: var(--hover-btn);
}

.btn {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: var(--active-hover-focus-current);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--sec-text-color);
  cursor: pointer;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--hover-btn);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn--hero, .btn--order-submit {
  margin: 0 auto;
}
.btn--mailing {
  gap: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    border-radius: 4px;
  }
}
@media screen and (max-width: 445px) {
  .modal {
    width: 100%;
    height: 609px;
    border-radius: 4px;
  }
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250 ms;
          transition-duration: 250 ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .btn-close__icon, .btn-close:focus .btn-close__icon {
  fill: var(--hover-btn);
}

.form__field {
  margin-bottom: 10px;
}
.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.input {
  position: relative;
}
.input__field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input__field:focus {
  border-color: var(--active-hover-focus-current);
}

.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input__field:focus + .input__icon {
  fill: var(--active-hover-focus-current);
}

.form-comment {
  margin-bottom: 20px;
}
.form-comment__placeholder {
  display: block;
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment__placeholder::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__placeholder::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__placeholder:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__placeholder::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__placeholder::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment__placeholder:focus {
  border-color: var(--active-hover-focus-current);
}

.conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}
.conditions__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.conditions__checkbox:focus-within + .conditions__label span {
  border: 2px solid var(--active-hover-focus-current);
}

.conditions__link {
  color: var(--active-hover-focus-current);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 446px) {
  .conditions__link {
    text-decoration: none;
    color: var(--active-hover-focus-current);
    border-bottom: 1px solid var(--active-hover-focus-current);
    line-height: 0.85;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.conditions__link:hover, .conditions__link:focus {
  color: var(--hover-btn);
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  border: 2px solid #000000;
}
.custom-checkbox__icon {
  fill: transparent;
}

.conditions__checkbox:checked + .conditions__label span {
  background-color: var(--active-hover-focus-current);
  border: none;
}

.conditions__checkbox:checked + .conditions__label .custom-checkbox__icon {
  fill: #ffffff;
}

.head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .head-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 0;
  }
}

.head-section {
  border-bottom: 1px solid #ececec;
}

.mob-menu {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
}
@media screen and (min-width: 768) {
  .mob-menu {
    display: none;
  }
}

.mob-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  height: 100%;
  padding: 10px 15px 40px 48px;
  margin-left: 0;
  margin-right: 0;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-nav__link {
  position: relative;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
  text-decoration: none;
}
.mob-nav__link--current {
  color: var(--active-hover-focus-current);
}
.mob-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-hover-focus-current);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--active-hover-focus-current);
}

.mob-contacts {
  margin-bottom: 64px;
}
.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-contacts__link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.mob-contacts__link--tel {
  font-size: 34px;
  color: var(--active-hover-focus-current);
}
.mob-contacts__link--mail {
  font-size: 24px;
  color: var(--text-color);
}

.mob-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
}
.mob-socials__item {
  padding-right: 10px;
}
.mob-socials__item:not(:first-child) {
  padding-left: 10px;
}
.mob-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--active-hover-focus-current);
  text-decoration: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu__item {
  position: relative;
}
.nav-menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu__link--current {
  color: var(--active-hover-focus-current);
}
.nav-menu__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--active-hover-focus-current);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--active-hover-focus-current);
}

@media screen and (max-width: 767px) {
  .nav-contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .nav-contacts .nav-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .nav-contacts .nav-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }
}
.nav-contacts .nav-contacts__link:hover, .nav-contacts .nav-contacts__link:focus {
  color: var(--active-hover-focus-current);
}
.nav-contacts .nav-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .nav-contacts .nav-contacts__icon--mail {
    width: 16px;
    height: 12px;
  }
  .nav-contacts .nav-contacts__icon--tel {
    width: 16px;
    height: 12px;
  }
}

.hero-container {
  margin: 0 auto;
  width: 100%;
  height: 400px;
  background-color: var(--background-footer-hero);
  text-align: center;
  padding: 118px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-mobile-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-tablet-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    height: 600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}
.hero-container__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--sec-text-color);
  text-align: center;
}
@media screen and (min-width: 480px) {
  .hero-container__title {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--sec-text-color);
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--sec-text-color);
    text-align: center;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.feature__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
.feature__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}
.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.work {
  padding-top: 0;
}
.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.project-list__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.project-list__foto {
  position: relative;
}
.project-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
  text-align: center;
  text-transform: uppercase;
}
.project-list__description {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 24%;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background-color);
}
.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.member-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .member-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.member-list__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: var(--main-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .member-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .member-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.member-list__foto {
  width: 100%;
  height: auto;
}
.member-list .member {
  padding-bottom: 30px;
  padding-top: 30px;
}
.member-list .member__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
.member-list .member__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.member-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.member-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.member-socials__link:hover, .member-socials__link:focus {
  background-color: var(--active-hover-focus-current);
  color: #ffffff;
}
.member-socials__icon {
  fill: currentColor;
}

/*another method for icon-hover*/
/*.member-socials__link:hover,
.member-socials__link:focus {
  background-color: var(--active-hover-focus-current);
}

.member-socials__link:hover,
.member-socials__link:focus,
.member-socials__icon {
  fill: #ffffff;
}*/
.clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}
.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border-radius: 4px;
  outline: transparent;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--active-hover-focus-current);
  border-color: var(--active-hover-focus-current);
}
.clients-list__icon {
  fill: currentColor;
}

.foot-section {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-footer-hero);
}

.foot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.foot-container--left, .foot-container--middle, .foot-container--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .foot-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .foot-container--left, .foot-container--middle {
    width: 50%;
  }
  .foot-container--right {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .foot-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .foot-container--right {
    margin-top: 0;
  }
  .foot-container--left, .foot-container--middle, .foot-container--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
    width: auto;
  }
  .foot-container--left {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 0;
  }
  .foot-container--middle {
    margin-right: 93px;
  }
}

.footer-contacts {
  font-style: normal;
}
.footer-contacts__item {
  margin-bottom: 9px;
}
.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: center;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link--address {
  color: #ffffff;
}
.footer-contacts__link--tel, .footer-contacts__link--mail {
  color: var(--contacts-footer);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--active-hover-focus-current);
}

.address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.join {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(201, 81, 81, 0.1);
  color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--active-hover-focus-current);
}
.footer-socials__icon {
  fill: currentColor;
}

.mailing {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
  text-align: center;
  text-transform: uppercase;
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1170px) {
  .mailing-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.mailing-form__input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  padding: 15px;
  background-color: #2f303a;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .mailing-form__input {
    width: 450px;
    height: 50px;
    border-radius: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-form__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
  }
}
.mailing-form__input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input::-moz-placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input:focus {
  border: 1px solid #2196f3;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__filter {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  font-family: inherit;
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter:hover, .portfolio__filter:focus {
  color: #ffffff;
  background-color: var(--active-hover-focus-current);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.project__item {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
.project__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card {
  position: relative;
  overflow: hidden;
}
.project-card__text {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--sec-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (max-width: 479px) {
  .project-card__text {
    overflow-y: scroll;
  }
}

.project__item:hover .project-card__text,
.project__link:focus .project-card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.project-description__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.project-description__type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */