.btn {
  padding: 0;
  @include flex(flex, center, center, null);
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  background-color: var(--active-hover-focus-current);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include fonts(700, 16px, 1.88, 0.06em, var(--sec-text-color), null);
  cursor: pointer;
  @include animation(background-color, box-shadow, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  &:hover,
  &:focus {
    background-color: var(--hover-btn);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &--hero,
  &--order-submit {
    margin: 0 auto;
  }

  &--mailing {
    gap: 12px;
  }
}
