.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  @include form(30px, 30px, 50%);
  @include flex(flex, center, center, null);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  @include animation(fill, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  &:hover &__icon,
  &:focus &__icon {
    fill: var(--hover-btn);
  }
}
