.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  @include fonts(700, 26px, 1.19, 0.03em, var(--main-logo), null);

  &--black {
    color: var(--logo-header);
  }

  &--white {
    color: var(--logo-footer);
  }
}

.logo-head {
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo-foot {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-bottom: 20px;
}
