.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  @include animation(transform, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
  padding: 40px;
  @include form(450px, 609px, 4px);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and(min-width: 1200px) {
    @include form(528px, 581px, 4px);
  }

  &__title {
    margin-bottom: 12px;
    @include fonts(700, 20px, 1.5, 0.03em, var(--title-color), center);
  }
}
