@mixin animation($one, $two, $three, $time, $func) {
  transition-property: $one, $two, $three;
  transition-duration: $time;
  transition-timing-function: $func;
}

@mixin fonts($fw, $fs, $lh, $ls, $col, $ta) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $col;
  text-align: $ta;
}

@mixin flex($ds, $jc, $ai, $g) {
  display: $ds;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin form($wid, $hei, $br) {
  width: $wid;
  height: $hei;
  border-radius: $br;
}

@mixin retina {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}
