:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --title-color: #212121;
  --text-color: #757575;
  --sec-text-color: #ffffff;
  --active-hover-focus-current: #2196f3;
  --main-logo: #2196f3;
  --hover-btn: #188ce8;
  --logo-header: #000000;
  --logo-footer: #ffffff;
  --contacts-footer: rgba(255, 255, 255, 0.6);
  --background-footer-hero: #2f303a;
}
