.clients {
  &__title {
    margin-bottom: 50px;
    @include fonts(700, 36px, 1.17, 0.03em, var(--title-color), center);
  }
}

.clients-list {
  @include flex(flex, null, null, 30px);
  flex-wrap: wrap;

  &__item {
    width: calc((100% - 30px) / 2);

    @media screen and(min-width: 768px) {
      width: calc((100% - 60px) / 3);
    }
    @media screen and(min-width: 1200px) {
      width: calc((100% - 150px) / 6);
    }
  }

  &__link {
    @include flex(flex, center, center, null);
    @include form(100%, 92px, 4px);
    outline: transparent;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    @include animation(color, border-color, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

    &:hover,
    &:focus {
      color: var(--active-hover-focus-current);
      border-color: var(--active-hover-focus-current);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
