.foot-section {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-footer-hero);
}

.foot-container {
  padding-left: 15px;
  padding-right: 15px;

  &--left {
    margin-bottom: 60px;
  }

  &--middle {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    @include flex(flex, null, baseline, 0px);
    flex-wrap: wrap;

    &--left,
    &--middle {
      @include form(50%, null, null);
      margin-bottom: 0;
    }

    &--right {
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    @include flex(flex, null, baseline, null);
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;

    &--left,
    &--middle,
    &--right {
      @include flex(flex, start, flex-start, 20px);
      flex-direction: column;
      @include form(auto, null, null);
    }

    &--right {
      margin-top: 0;
    }

    &--left {
      flex-grow: 1;
    }

    &--middle {
      margin-right: 93px;
    }
  }
}
