.footer-contacts {
  font-style: normal;

  &__item {
    margin-bottom: 9px;
  }

  &__link {
    @include fonts(null, 14px, 1.71, 0.03em, center, null);
    text-decoration: none;
    @include animation(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

    &--address {
      color: #ffffff;
    }

    &--tel,
    &--mail {
      color: var(--contacts-footer);
    }

    &:hover,
    &:focus {
      color: var(--active-hover-focus-current);
    }
  }
}

.address {
  text-align: center;
  margin-top: 10px;
}
