.mailing {
  display: block;
  margin-bottom: 20px;
  @include fonts(700, 14px, 1.14, 0.03em, var(--sec-text-color), center);
  text-transform: uppercase;
}

.mailing-wrap {
  margin: 0 auto;
}

.mailing-form {
  // @include flex(flex, start, center, 20px);
  // flex-direction: column;
  @include form(100%, null, null);

  @media screen and (min-width: 1200px) {
    @include flex(flex, null, flex-start, 12px);
  }

  &__input {
    @include form(100%, 50px, 4px);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #2f303a;
    font-style: normal;
    @include fonts(400, 16px, 1.25, 0.03em, var(--sec-text-color), null);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: transparent;
    @include animation(background-color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

    @media screen and (min-width: 480px) {
      @include form(450px, 50px, 4px);
    }

    @media screen and (min-width: 1200px) {
      @include form(358px, 50px, 4px);
    }

    &::placeholder {
      @include flex(flex, null, center, null);
      @include fonts(null, 16px, 1.25, 0.03em, rgba(255, 255, 255, 0.6), null);
    }
    &:focus {
      border: 1px solid #2196f3;
    }
  }
}
